@using SportsStore.Infrastructure
@using System.Net
@model Cart

<div class="">
    @if (Model.Lines.Any())
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x=>x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("C")
        </small>
    }
    <a class="btn btn-secondary btn-sm" asp-page="/Cart" asp-route-returnurl="@WebUtility.HtmlEncode(ViewContext.HttpContext.Request.PathAndQuery())" >
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>